/* static/styles.css */
:root {
    --button-color: #ffffff; /* Default button color */
    --background-color: #3C4252; /* Default background color */
}

body {
    background-color: #323542; /* Default background color */
    /* Other global styles */
}

.drawer-button {
    background-color: var(--button-color);
    color: white; /* Assuming you want white text */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    /* Other button styles */
}

.drawer-icon {
    z-index: 1100; /* Higher than the search bar's z-index */
    position: fixed;
    top: 13px;
    left: 10px;
    padding: 4px;
    /* Other styles as needed */
}

.drawer-background {
    background-color: var(--background-color);
    position: fixed;
    /* Other background styles */
}

body.no-scroll {
    overflow: hidden; /* Prevents scrolling when drawer is open */
}

.error-snackbar {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    z-index: 1000; /* Ensure it's above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-episodes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.episodes-container {
    padding-top: 60px; /* Adjust the value to the height of your search bar */
}


.center-text {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    max-width: 100px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
    background-color: var(--background-color); /* Adjust the color as needed */
    position: fixed; /* Fix the position relative to the viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    right: 0; /* Ensure it extends to the right of the viewport */
    z-index: 1000; /* Make sure it stays on top of other content */
}

.search-input {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-source {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-btn {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}

.audio-player {
    position: fixed; /* Fixed position */
    bottom: 0; /* Align to the bottom of the page */
    left: 0; /* Align to the left of the page */
    width: 100%; /* Full width */
    background-color: #333; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the bar */
    display: flex; /* Flexbox layout */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space between elements */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Shadow for a "lifted" effect */
}

.audio-player button {
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    padding: 10px 15px; /* Padding inside the button */
    margin-right: 20px; /* Margin to the right */
    cursor: pointer; /* Cursor as pointer */
    border-radius: 5px; /* Rounded corners */
}

.audio-player span {
    flex-grow: 1; /* Take up remaining space */
    text-align: left; /* Align text to the left */
}