/* static/styles.css */
:root {
    --button-color: #ffffff; /* Default button color */
    --background-color: #3C4252; /* Default background color */
}

body {
    background-color: #323542; /* Default background color */
    /* Other global styles */
}

.drawer-button {
    background-color: var(--button-color);
    color: white; /* Assuming you want white text */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    /* Other button styles */
}

.drawer-background {
    background-color: var(--background-color);
    position: fixed;
    /* Other background styles */
}

body.no-scroll {
    overflow: hidden; /* Prevents scrolling when drawer is open */
}

.error-snackbar {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    z-index: 1000; /* Ensure it's above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-episodes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.logo {
    max-width: 100px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
    background-color: var(--background-color); /* Adjust the color as needed */
}

.search-input {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-source {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-btn {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}