# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# InstallerFiles
clients/windows-app/pinepods.exe
clients/linux-app/pinepods
clients/windows-app/dist
clients/linux-app/dist
clients/mac-app/dist
clients/mac-app/pinepods
clients/windows-app/generated*
clients/windows-app/pinepods.spec
clients/linux-app/pinepods.spec

# Mac Files
.DS_Store
clients/.DS_Store
*/.DS_Store
*/pinepods.spec
*/generated
clients/mac-app/pinepods.spec


# env files
*/env_file
*/.env

# pycharm
.idea/*
.idea/misc.xml
.idea/misc.xml
.idea/PyPods.iml
.idea/misc.xml
