# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
/lib/
/lib64/
# Exception for Flutter lib directory
!/mobile/lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# InstallerFiles
clients/windows-app/pinepods.exe
clients/linux-app/pinepods
clients/windows-app/dist
clients/linux-app/dist
clients/mac-app/dist
clients/mac-app/pinepods
clients/windows-app/generated*
clients/windows-app/pinepods.spec
clients/linux-app/pinepods.spec

# Mac Files
.DS_Store
clients/.DS_Store
*/.DS_Store
*/pinepods.spec
*/generated
clients/mac-app/pinepods.spec


# env files
*/env_file
*/.env

# pycharm
.idea/*
.idea/misc.xml
.idea/misc.xml
.idea/PyPods.iml
.idea/misc.xml
.idea/misc.xml
.idea/PyPods.iml

# Web Removals
web/target/*
web/.idea/*
keystore.properties
key.properties
**/key.properties


# Virtual Environment
venv/
.venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
coverage.xml
.hypothesis/

# Environment variables
.env
.env.test

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Test database
*.sqlite3
*.db

# Log files
*.log

# Local test directory
tests_local/


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# C/C++ build files
**/android/app/.cxx/
**/android/**/.cxx/
