mysql.connector
mysql-connector-python
flet
requests
python-dateutil
feedparser
flask
flask-cors
python-dateutil
html2text
bcrypt
flask_caching
appdirs
passlib
uvicorn
fastapi
itsdangerous
aiofiles
keyring
cryptography
python-multipart
gunicorn
werkzeug
pillow
pyinstaller
fernet
pyotp
qrcode[pil]
eyed3
mutagen
asyncio
websockets
pytz