mysql-connector-python
requests
python-dateutil
python-dateutil
passlib
uvicorn
fastapi
itsdangerous
keyring
cryptography
python-multipart
gunicorn
werkzeug
pillow
fernet
eyed3
asyncio
websockets
pytz
psycopg[binary]
mygpoclient
feedparser
pyotp
appdirs
argon2_cffi
httpx
qrcode[pil]
psycopg[pool]
redis
feedgenerator
yt-dlp
